azure-common==1.1.28
azure-core==1.30.2
azure-cosmos==4.7.0
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-data-tables==12.5.0
azure-functions==1.20.0
azure-nspkg==3.0.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
idna==3.7
isodate==0.6.1
multidict==6.0.5
pycparser==2.22
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.9.4
azure-data-tables==12.5.0
